.vscode/**
.vscode-test/**
.gitignore
node_modules/**
resources/readme/**
.azure-pipelines/**

# Temporary, until the pack is updated to deliver the new readme
commandpalette.png
explorer.png
signin.png